<!DOCTYPE html>
<html>
<head>
    <title>Boubou Valentine</title>
    {% load static %}
    <link href="{%static 'bootstrap.min.css'%}" rel="stylesheet">
</head>
<body>
    <script src="{%static 'bootstrap.min.css'%}"></script>
    <div class="parent container d-flex justify-content-center align-items-center h-100">
        <div class="child">
            <div class="row">
                <div class="col-6 mx-auto">
                    <img src="{%static 'static/greetings.jpeg'%}" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h1>Hii will you be my valentine?</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <div class="d-inline-block">
                        <div class="btn-toolbar">
                        <button type="button" class="btn btn-light me-1"><a href="{%url 'yes'%}">Yes</a></button>
                        <button type="button" class="btn btn-light me-1"><a href="{%url 'no1'%}">No</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>