<!DOCTYPE html>
<html>
<head>
    <title>Boubou Valentine</title>
    {%load static%}
    <link href="{%static 'bootstrap.min.css'%}" rel="stylesheet">
</head>
<body>
    <script src="{%static 'bootstrap.min.css'%}" ></script>
    <div class="parent container d-flex justify-content-center align-items-center h-100">
        <div class="child">
            <div class="row">
                <div class="col-6 mx-auto">
                    <img src="{%static 'static/SecondNo.jpeg'%}" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h1>We're pissed and sad now</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>